
<div class="jumbotron center">
<h1>Welcome to Avento</h1>
<p><%= link_to "Touch Me", "#", class: "btn btn-default btn-lg" %>
<%= link_to "Touch You", "#", class: "btn btn-primary btn-lg" %></p>
</div>

<div class="jumbotron center">
<h2>MOTHERFUCKERS</h2>